GMAIL_USER=your_gmail_address@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password
CRON_SECRET=optional_random_secret_to_protect_the_cron_endpoint
SESSION_SECRET=long_random_string_used_to_sign_login_sessions
